<p id="notice"><%= notice %></p>

<h1>Factura de compra</h1>

<table>
  <thead>
    <tr>
      <th>Numero factura</th>
      <th>Productos</th>
      <th>Puntos</th>
      <th>Costo</th>
      <th>Cliente</th>
      <th>Iva</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.numero_factura %></td>
        <td><%= ticket.productos %></td>
        <td><%= ticket.puntos %></td>
        <td><%= ticket.costo %></td>
        <td><%= ticket.Cliente %></td>
        <td><%= ticket.iva %></td>
        <td><%= ticket.total %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
